#!/bin/sh bash

alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"

alias less="less -R"

alias ls="ls --color"
alias la="ls -A --color"
alias ll="ls -o --color"

alias mv="mv -i"

