#!/bin/sh

alias l="ls -lha --color"
alias ll="ls -oh --color"
alias ..="cd .."
alias mv="mv -i"
alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
alias less="less -R"
alias open=xdg-open
alias v=nvim
alias j=jobs
alias t="tmux -u"
alias tt="tmux -u attach-session"
alias shck=shellcheck

# edit config files
alias vimrc="$EDITOR $HOME/.config/nvim/init.vim"
alias i3config="$EDITOR $HOME/.config/i3/config"

# tmp
alias fun="ssh giordanorn@haskell.imd.ufrn.br"
