#!/bin/sh bash

alias ls="ls --color"
alias la="ls -A --color"
alias ll="ls -o -h --color"
alias lla="ls -o -h -A --color"

alias ..="cd .."

alias mv="mv -i"

alias grep="grep --color=auto"
alias fgrep="fgrep --color=auto"
alias egrep="egrep --color=auto"
alias less="less -R"

alias open="xdg-open"

alias v="nvim"
alias vim="nvim"

# Shortcut to open configuration files
alias vimrc="$EDITOR $HOME/.config/nvim/init.vim"
alias i3config="$EDITOR $HOME/.config/i3/config"

alias confirm=$HOME/.scripts/confirm.sh
alias screenlocker=$HOME/.scripts/screenlocker.sh
alias system-options=$HOME/.scripts/system-options.sh
alias mkalias=$HOME/.scripts/mkalias.sh
alias clip=$HOME/.scripts/clip.sh
alias wallpaper-set-random=$HOME/.scripts/wallpaper-set-random.sh
